---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Mail, Phone, MapPin } from 'lucide-react';
import { Button } from '../../components/ui/button';
import { Input } from '../../components/ui/input';
import { Card } from '../../components/ui/card';
import Hero from '@/components/Hero.astro';
import ImageLightbox from '@/components/ImageLightbox';
import ContactForm from '@/components/ContactForm';
import TeamSection from '@/components/TeamSection';
import HeroContactPage from '@/components/HeroContactPage';
import { languages, defaultLanguage } from '@/i18n/config';
import { contactTranslations } from '@/i18n/translations/contact';

// Generate pages only for defined languages
export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const { lang } = Astro.params;
const t = contactTranslations[lang];

const teamMembers = [
  {
    name: 'Maurits Fornier',
    role: 'Legal Design Lead',
    imageUrl: '/images/team/sunmoon-stokhof.jpg',
  },
  {
    name: 'Dielis Delen',
    role: 'Software Developer',
    imageUrl: '/images/team/dielis-delen.webp',
  },
  {
    name: 'Savannah Koomen',
    role: 'Strategie Lead',
    imageUrl: '/images/team/savannah-koomen.webp',
  },
];
---

<BaseLayout title="Contact" description="Get in touch with us">
  <div class="relative">
    <!-- Hero Section -->
    <HeroContactPage client:load lang={lang} />

    <div class="container mx-auto px-4 py-8" id="afspraak">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <!-- Left Column -->
        <div class="bg-surface-1 p-6 rounded-lg">
          <ContactForm client:load lang={lang} />
        </div>

        <!-- Right Column -->
        <div class="bg-surface-2 p-6 rounded-lg">
          <ImageLightbox
            client:load
            src="../images/kantoor/contact-map-amsterdam-noord.jpg"
            className="aspect-video w-full"
            aspectRatio="1/1"
          />
        </div>
      </div>
    </div>

    <!-- Contact Form Section -->
    <section class="py-4"></section>
    <!-- Contact Cards -->
    <section class="py-12 bg-background">
      <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
          <!-- Phone Card -->

          <a
            href="tel:+31203036050"
            class="group p-6 bg-surface-1 rounded-lg hover:bg-surface-2
          transition-colors"
          >
            <Phone className="w-6 h-6 mb-4 text-primary" />
            <div class="text-sm text-text-secondary mb-2">{t.contact.phone}</div>
            <div class="text-lg text-foreground">(+31) 20 - 303 60 50</div>
          </a>

          <!-- Email Card -->

          <a
            href="mailto:info@patroon.nl"
            class="group p-6 bg-surface-1 rounded-lg hover:bg-surface-2
        transition-colors"
          >
            <Mail className="w-6 h-6 mb-4 text-primary" />
            <div class="text-sm text-text-secondary mb-2">{t.contact.email}</div>
            <div class="text-lg text-foreground">info@patroon.nl</div>
          </a>

          <!-- Address Card -->

          <!--
          <a
            href="https://www.google.com/maps/place/Nicolaas+Witsenkade+38,+1017+ZT+Amsterdam/@52.3583058,4.8945766,17z/data=!3m1!4b1!4m6!3m5!1s0x47c60993ab4f8695:0x12056ad22461f9a0!8m2!3d52.3583058!4d4.8971569!16s%2Fg%2F11bw3_9_z7?entry=ttu&g_ep=EgoyMDI1MDYyMy4wIKXMDSoASAFQAw%3D%3D"
            target="_blank"
            class="group p-6 bg-surface-1 rounded-lg
      hover:bg-surface-2 transition-colors"
          >
            <MapPin className="w-6 h-6 mb-4 text-primary" />
            <div class="text-sm text-text-secondary mb-2">{t.contact.address}</div>
            <div class="text-lg text-foreground">
              Nicolaas Witsenkade 38<br />
              1017 ZT Amsterdam
            </div>
          </a>
           -->
        </div>
      </div>
    </section>
  </div></BaseLayout
>
